<%= link_to "Start a movement", new_movement_path , class:"list-link btn btn-primary" if policy(Movement).new? %>
<ul class="cards d-flex flex-row flex-wrap justify-content-start m-3 gap-3">
  <% @movements.each do |movement| %>

  <div class="card">
    <div class="content d-flex flex-column h-100 justify-content-between">
      <p class="heading"><%= movement.name %>
        <div class="d-flex flex-column">
      </p>
      <p class="para d-flex flex-column">
        <strong><%= movement.date.strftime("%H:%M") %></strong>
        <%= movement.date.strftime("%d/%m/%Y") %>
      </p>
      <button class="btn-card w-100">Read more</button>
    </div>
  </div>
  </div>
  <% end %>
</ul>
