.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  background-repeat: no-repeat;
  position: relative;
  font-weight: Sans-serif;
}

.banner h1 {
  margin: 0;
  color: rgb(17, 17, 17);
  text-shadow: 1px 1px 3px rgba(56, 55, 55, 0.2);
  font-size: 32px;
  font-weight: Sans-serif;
}

.banner p {
  font-size: 20px;
  color: #111111;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
.about-img{
  height: 100vh;
  position: sticky;
  top: 0;
}

// Back to top button //

#aboutBtn {
  font-size: 50px;
  padding-top: 20px;
  animation-name: shadow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes shadow {
  33% {
    color: #FF0066;
  }

  66% {
    color: #ffffff;
  }

  100% {
    color: #BCFB23
  }
}

#aboutBtn:hover {
  text-shadow: 0px 0px 4px #777777;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
