.card-map {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  transition: transform 0.4s, box-shadow 0.4s;
  position: relative;
}

.card-map:hover {
  transform: scale(1.03);
}

/*New movement card*/

.card-new {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: transform 0.4s, box-shadow 0.4s;
}

.card-new:hover {
  transform: scale(1.03);
}

.card-new > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-new h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-new p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-new .card-new-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-new-infos .card-new-user {
  position: absolute;
  right: 16px;
  top: -20px;
  height: 40px;
  width: 40px;
}

h2, p, a {
  text-decoration: none;
  color: #000000;
}

.card-new h2 {
  font-size: 24px;
}

.card-new h3 {
  font-size: 16px;
  font-weight: 300;
}
