.background {
  background-image: linear-gradient(to right top, #c8ff47, #c5fe40, #c2fd37, #bffc2e, #bcfb23);
  height: 100vh;
}

.card-login {
  height: auto;
  width: 360px;
  padding: 24px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.card-signup {
  height: 80vh;
  width: 1000px;
  padding: 24px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.form-text {
  color: $green;
}

.custom-label {
  color: #ffffff;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0.5em;
  display: block;
}

.form-control {
  border-radius: 0.25em;
  border: 1px solid #ced4da;
  margin-bottom: 1em;
}


.homeBtn {
  animation-name: shadow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes shadow {
  33% {
    color: #FF0066;
  }

  66% {
    color: #ffffff;
  }

  100% {
    color: #BCFB23
  }
}

#homeBtn:hover {
  text-shadow: 0px 0px 4px #777777;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
