<div class="d-flex justify-content-center">
  <div class="banner" >
    <div class="container p-5">
      <strong><h1>Sobre a Unite Social</h1></strong><br><p>A Unite Social é uma plataforma dedicada a conectar pessoas que desejam fazer a diferença com organizações que precisam de ajuda. Nosso objetivo é facilitar o encontro entre aqueles que querem doar seu tempo, habilidades ou recursos com ONGs, associações e projetos sociais que atuam em suas comunidades. para</p>

      <strong><p>Nossa Missão<p></strong><p>Na Unite Social, acreditamos que cada ato de bondade tem o poder de transformar o mundo. Nossa missão é simplificar o processo de doação e voluntariado, tornando mais fácil para todos contribuir para causas importantes e ajudar quem mais precisa.</p>

      <strong><p>Junte-se a Nós</p></strong>
      <p class="mb-4">Seja você uma pessoa buscando fazer a diferença ou uma organização precisando de suporte, a Unite Social é o lugar certo para você. Junte-se a nós e participe dessa corrente do bem, transformando intenções em ações e criando um impacto duradouro.!</p>

      <strong><p>Como Funciona</p></strong>
      <p class="mb-4">A plataforma Unite Social oferece uma interface amigável onde:</p>
      <strong><p>Voluntários e Doadores:</p></strong>
      <p class="mb-4">Podem pesquisar e encontrar oportunidades de voluntariado e locais para doação perto de onde estão ou em localidades específicas. Basta inserir a localização desejada e explorar as opções disponíveis.</p><br>
      <strong><p>Organizações:</p></strong>
      <p class="mb-4">Podem se registrar gratuitamente, criar um perfil detalhado e listar suas necessidades de doação e oportunidades de voluntariado. Isso aumenta a visibilidade e facilita a captação de recursos e ajuda voluntária.</p><br>


      <%= link_to "BACK", root_path, class: "button-custom"%>
      <div class="d-flex justify-content-center"><a href="#"><i class="fas fa-angle-up" id="homeBtn"></i></a></div>
    </div>
  </div>
<%= image_tag 'unite_about_arv.jpg', class: "d-block w-50 about-img"%>
</div>
