<body class="body-home">
  <div class="cointainer m-5">
    <% if user_signed_in? %>
    <h1>Hello, <%= current_user.name %>!</h1>
    <% else %>
    <h1>Hello!</h1>
    <% end %>
    <div class="my-5 d-flex gap-3 justify-content-evenly">
      <%= render "cards_home" %>
    </div>


    <!-- CHARTS -->
    <div class="my-5 ">
            <h3 class="font-tred homeBtn">Graphs</h3>
      <%= render "charts" %>
    </div>
  </div>
</body>
