.chatroom {
  background: white;
  margin-top: 9px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    background-image: url("chat-bg");
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }

  .btn-message {
    background-color: $green;
  }

  .message-name {
    font-size: 16px;
    font-weight: 600 ;
    color: $green;
  }

  .message-time {
    color: #ffffff;
    margin-left: 8px;
    font-size: 12px;
  }

  .message-pill {
    border-radius: 20px;
  }

}
