.container-general {
  width: 100%;
  height: fit-content;
  margin-left: 20%;
  transition: margin-left 0.5s ease;
}

.container-general.container-general-active {
  margin-left: 0%;
  transition: margin-left 0.5s ease;
}
