.container-general {
  min-height: 100vh;
  flex-grow: 1;
  // width: 100vw;
  transition: transform 0.5s ease;
}

.container-general.container-general-active {
  transform: translateX(-26%);
}

// .body-general{
//   width: 100%;;
// }
