// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "sidebar";
@import "banner";
@import "list";
@import "sidebar";
@import "container";
@import "map";
@import "chatroom";


body {
  min-height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
}

.h-100vh {
  height: 100vh;
}
