.list-link {
  position: fixed;
  top: 20px;
  right: 20px;
}

.cards {
  overflow-y: auto;
  height: 40%;
  position: relative;
 }

.card {
  position: relative;
  width: 160px;
  height: 200px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  padding: 16px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content {
  z-index: 1;
  // gap: 4px;
  color: #000000;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
  color: #000000;
  font-weight: 700;
  font-size: 16px;
}

.content .para {
  color: #000000;
  line-height: 1.2;
  font-size: 12px;
}

.content .btn-card {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 8px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  z-index: 0;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
  height: 100%;
}

.card:hover {
  box-shadow: none;
}

.card:hover .btn-card {
  color: #212121;
  background: #e8e8e8;
}

.content .btn-card:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.content .btn-card:active {
  box-shadow: none;
}
