.nav-item {
  text-align: center; /* Centraliza o texto */
  margin: 15px 0; /* Adiciona margem vertical entre os itens */
}

.nav-item a {
  text-decoration: none; /* Remove a linha sublinhada dos links */
  color: inherit; /* Garante que a cor do texto do link herda a cor do elemento pai */
}

.nav-item i {
  margin-right: 8px; /* Adiciona um espaço entre o ícone e o texto */
}
